:root, [data-bs-theme=light] {
  --bs-primary: #482651;
  --bs-primary-rgb: 72,38,81;
  --bs-primary-text-emphasis: #1D0F20;
  --bs-primary-bg-subtle: #DAD4DC;
  --bs-primary-border-subtle: #B6A8B9;
  --bs-secondary: #5d5f55;
  --bs-secondary-rgb: 93,95,85;
  --bs-secondary-text-emphasis: #252622;
  --bs-secondary-bg-subtle: #DFDFDD;
  --bs-secondary-border-subtle: #BEBFBB;
  --bs-light: #ffffff;
  --bs-light-rgb: 255,255,255;
  --bs-light-text-emphasis: #666666;
  --bs-light-bg-subtle: #FFFFFF;
  --bs-light-border-subtle: #FFFFFF;
  --bs-dark: #333333;
  --bs-dark-rgb: 51,51,51;
  --bs-dark-text-emphasis: #141414;
  --bs-dark-bg-subtle: #D6D6D6;
  --bs-dark-border-subtle: #ADADAD;
  --bs-body-color: #472350;
  --bs-body-color-rgb: 71,35,80;
  --bs-secondary-color: rgb(32,42,55);
  --bs-secondary-color-rgb: 32,42,55;
  --bs-tertiary-color: rgb(255,255,255);
  --bs-tertiary-color-rgb: 255,255,255;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-secondary-bg: #d1d5db;
  --bs-secondary-bg-rgb: 209,213,219;
  --bs-tertiary-bg: #333333;
  --bs-tertiary-bg-rgb: 51,51,51;
  --bs-body-font-family: Lato, sans-serif;
  --bs-link-decoration: overline;
  --bs-link-hover-decoration: underline;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #482651;
  --bs-btn-border-color: #482651;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3D2045;
  --bs-btn-hover-border-color: #3A1E41;
  --bs-btn-focus-shadow-rgb: 228,222,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3A1E41;
  --bs-btn-active-border-color: #361D3D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #482651;
  --bs-btn-disabled-border-color: #482651;
}

.btn-outline-primary {
  --bs-btn-color: #482651;
  --bs-btn-border-color: #482651;
  --bs-btn-focus-shadow-rgb: 72,38,81;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #482651;
  --bs-btn-hover-border-color: #482651;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #482651;
  --bs-btn-active-border-color: #482651;
  --bs-btn-disabled-color: #482651;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #482651;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5d5f55;
  --bs-btn-border-color: #5d5f55;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4F5148;
  --bs-btn-hover-border-color: #4A4C44;
  --bs-btn-focus-shadow-rgb: 231,231,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4A4C44;
  --bs-btn-active-border-color: #464740;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5d5f55;
  --bs-btn-disabled-border-color: #5d5f55;
}

.btn-outline-secondary {
  --bs-btn-color: #5d5f55;
  --bs-btn-border-color: #5d5f55;
  --bs-btn-focus-shadow-rgb: 93,95,85;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5d5f55;
  --bs-btn-hover-border-color: #5d5f55;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5d5f55;
  --bs-btn-active-border-color: #5d5f55;
  --bs-btn-disabled-color: #5d5f55;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5d5f55;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D9D9D9;
  --bs-btn-hover-border-color: #CCCCCC;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CCCCCC;
  --bs-btn-active-border-color: #BFBFBF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-outline-light {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #333333;
  --bs-btn-border-color: #333333;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2B2B2B;
  --bs-btn-hover-border-color: #292929;
  --bs-btn-focus-shadow-rgb: 224,224,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #292929;
  --bs-btn-active-border-color: #262626;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #333333;
  --bs-btn-disabled-border-color: #333333;
}

.btn-outline-dark {
  --bs-btn-color: #333333;
  --bs-btn-border-color: #333333;
  --bs-btn-focus-shadow-rgb: 51,51,51;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333333;
  --bs-btn-hover-border-color: #333333;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #333333;
  --bs-btn-active-border-color: #333333;
  --bs-btn-disabled-color: #333333;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #333333;
}

a {
  text-decoration: var(--bs-link-decoration);
  text-decoration: var(--bs-link-decoration);
}

a:hover {
  text-decoration: var(--bs-link-hover-decoration);
  text-decoration: var(--bs-link-hover-decoration);
}

[data-bs-theme=dark] {
  --bs-primary: #fae7ff;
  --bs-primary-rgb: 250,231,255;
  --bs-primary-text-emphasis: #FCF1FF;
  --bs-primary-bg-subtle: #322E33;
  --bs-primary-border-subtle: #968B99;
  --bs-secondary: #ffffff;
  --bs-secondary-rgb: 255,255,255;
  --bs-secondary-text-emphasis: #FFFFFF;
  --bs-secondary-bg-subtle: #333333;
  --bs-secondary-border-subtle: #999999;
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgb(224,204,244);
  --bs-secondary-color-rgb: 224,204,244;
  --bs-tertiary-color: rgb(255,255,255);
  --bs-tertiary-color-rgb: 255,255,255;
  --bs-body-bg: #333333;
  --bs-body-bg-rgb: 51,51,51;
  --bs-secondary-bg: #222628;
  --bs-secondary-bg-rgb: 34,38,40;
  --bs-tertiary-bg: #472350;
  --bs-tertiary-bg-rgb: 71,35,80;
  --bs-link-color: #9465e0;
  --bs-link-color-rgb: 148,101,224;
  --bs-link-hover-color: #e8adf2;
  --bs-link-hover-color-rgb: 232,173,242;
  --bs-link-decoration: overline;
  --bs-link-hover-decoration: underline;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fae7ff;
  --bs-btn-border-color: #fae7ff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FBEBFF;
  --bs-btn-hover-border-color: #FBE9FF;
  --bs-btn-focus-shadow-rgb: 38,35,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FBECFF;
  --bs-btn-active-border-color: #FBE9FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fae7ff;
  --bs-btn-disabled-border-color: #fae7ff;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #fae7ff;
  --bs-btn-border-color: #fae7ff;
  --bs-btn-focus-shadow-rgb: 250,231,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fae7ff;
  --bs-btn-hover-border-color: #fae7ff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fae7ff;
  --bs-btn-active-border-color: #fae7ff;
  --bs-btn-disabled-color: #fae7ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fae7ff;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFFFFF;
  --bs-btn-hover-border-color: #FFFFFF;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFFFFF;
  --bs-btn-active-border-color: #FFFFFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #ffffff;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #ffffff;
  --bs-btn-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffffff;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

